/* Days */

.cm-days {
    display: flex;

    margin-left: 5px;
    padding: 20px;
}

.cm-day {
    width: 100%;

    letter-spacing: 0.1em;
    font-size: 1.3em;

    text-align: center;
}

/* Grid */

.cm-grid {
    display: flex;

    justify-content: center;
    align-items: flex-start;

    padding: 20px;

    border: 2px solid var(--primary);
    border-radius: 20px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

/* Table */

.cm-table {
    width: 100%;

    margin-right: -5px;

    border-collapse: separate;
    border-spacing: 5px;
}

.cm-table .cm-table-row {
    height: 100px;
}

.cm-table .cm-table-row > td {
    height: 100%;
    width: 100%;
}

/* Card */

.cm-table-card {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 5px;
    gap: 5px;

    background-color: var(--light);
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.cm-table-card .cm-card-title {
    text-align: center;

    font-weight: 600;
}

.cm-table-card .cm-card-subtitle {
    display: flex;
    flex-direction: column;

    text-align: center;

    font-size: 0.75em;
}

.cm-table-card .cm-card-details {
    text-align: center;

    font-size: 0.9em;
}
