.card {
    background-color: var(--light);
    color: var(--primary);
}

.card .card-header {
    font-size: 1.5rem;
}

.input-group-text {
    color: var(--primary);
    background-color: var(--light);
}
