:root {
    --default: #2e2f5b;
    --light: #505581;
    --primary: #f4d35e;
    --secondary: #faf0ca;
    --success: #188e00;
    --warning: #fca513;
    --danger: #b30d00;
}

/* Global color palette */

body {
    background-color: var(--default);
    color: var(--secondary);
}
